# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [ ]:
import pandas as pd
marks = pd.Series([85, 92, 78, 88, 95],
                   index=['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5'],
                   name='Maths Marks')

print("Maths Marks:")
print(marks)
print("\n" + "="*50 + "\n")

cities = pd.Series(['New York', 'London', 'Tokyo', 'Paris', 'Sydney'],
                    index=['City 1', 'City 2', 'City 3', 'City 4', 'City 5'],
                    name='Cities')

print("Cities:")
print(cities)
print("\n" + "="*50 + "\n")

temperatures = pd.Series([23.5, 18.2, 31.7, 15.9, 28.4],
                         index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                         name='Temperature (Â°C)')

print("Temperature Readings:")
print(temperatures)
print("\n" + "="*50 + "\n")

print("Statistics for Maths Marks:")
print(f"Mean: {marks.mean()}")
print(f"Median: {marks.median()}")
print(f"Std Dev: {marks.std()}")

print("\n\nStatistics for Temperature Readings:")
print(f"Mean: {temperatures.mean():.2f}")
print(f"Min: {temperatures.min()}")
print(f"Max: {temperatures.max()}")

Maths Marks:
Student 1    85
Student 2    92
Student 3    78
Student 4    88
Student 5    95
Name: Maths Marks, dtype: int64

==================================================

Cities:
City 1    New York
City 2      London
City 3       Tokyo
City 4       Paris
City 5      Sydney
Name: Cities, dtype: object

==================================================

Temperature Readings:
Monday       23.5
Tuesday      18.2
Wednesday    31.7
Thursday     15.9
Friday       28.4
Name: Temperature (Â°C), dtype: float64

==================================================

Statistics for Maths Marks:
Mean: 87.6
Median: 88.0
Std Dev: 6.580273550544841


Statistics for Temperature Readings:
Mean: 23.54
Min: 15.9
Max: 31.7

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [ ]:
import pandas as pd

students = pd.Series(['Ravi', 'Sneha', 'Amit', 'Priya'], name='Student Name')

ages = pd.Series([18, 19, 17, 18], name='Age')

student_data = pd.DataFrame({'Student Name': students, 'Age': ages})

print("Student DataFrame:")
print(student_data)

product_name = pd.Series(['Pen', 'Notebook', 'Eraser', 'Pencil'], name='Product Name')
price = pd.Series([10, 50, 5, 8], name='Price')
quantity = pd.Series([100, 60, 150, 200], name='Quantity')

product_data = pd.DataFrame({
    'Product Name': product_name,
    'Price': price,
    'Quantity': quantity
})
print("\nProduct DataFrame:")
print(product_data)

Student DataFrame:
  Student Name  Age
0         Ravi   18
1        Sneha   19
2         Amit   17
3        Priya   18

Product DataFrame:
  Product Name  Price  Quantity
0          Pen     10       100
1     Notebook     50        60
2       Eraser      5       150
3       Pencil      8       200

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [ ]:
import pandas as pd

data1 = {
    'Name': ['Ravi', 'Sneha', 'Amit'],
    'Age': [18, 19, 20],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
}

df1 = pd.DataFrame(data1)

print("DataFrame 1: Students Information")
print(df1)


print("\n" + "="*50 + "\n")
data2 = {
    'Product': ['Pen', 'Notebook', 'Eraser'],
    'Category': ['Stationery', 'Stationery', 'Stationery'],
    'Price': [10, 50, 5]
}
df2 = pd.DataFrame(data2)

print("DataFrame 2: Product Information")
print(df2)

DataFrame 1: Students Information
    Name  Age     City
0   Ravi   18    Delhi
1  Sneha   19   Mumbai
2   Amit   20  Kolkata

==================================================

DataFrame 2: Product Information
    Product    Category  Price
0       Pen  Stationery     10
1  Notebook  Stationery     50
2    Eraser  Stationery      5

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [ ]:
import pandas as pd

data1 = {
    'Name': ['Ravi', 'Sneha', 'Amit'],
    'Age': [18, 19, 20],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
}

df1 = pd.DataFrame(data1)

print("DataFrame 1: Students Information")
print(df1)

data2 = {
    'Product': ['Pen', 'Notebook', 'Eraser'],
    'Category': ['Stationery', 'Stationery', 'Stationery'],
    'Price': [10, 50, 5]
}

df2 = pd.DataFrame(data2)

print("\nDataFrame 2: Product Information")
print(df2)

DataFrame 1: Students Information
    Name  Age     City
0   Ravi   18    Delhi
1  Sneha   19   Mumbai
2   Amit   20  Kolkata

DataFrame 2: Product Information
    Product    Category  Price
0       Pen  Stationery     10
1  Notebook  Stationery     50
2    Eraser  Stationery      5

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [ ]:
import pandas as pd
print("Creating students.csv file...")
students_data = {
    'Student_ID': [101, 102, 103, 104, 105],
    'Name': ['Rahul', 'Priya', 'Amit', 'Sneha', 'Vikram'],
    'Age': [20, 19, 21, 20, 22],
    'Marks': [85, 92, 78, 88, 95],
    'Grade': ['B', 'A', 'C', 'B', 'A']
}
df_students = pd.DataFrame(students_data)
df_students.to_csv('students.csv', index=False)
print("âœ“ students.csv created successfully!\n")

print("Creating products.xlsx file...")
products_data = {
    'Product_ID': [1, 2, 3, 4, 5],
    'Product_Name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Price': [45000.00, 500.00, 1500.00, 12000.00, 2500.00],
    'Stock': [25, 150, 80, 40, 100],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories']
}
df_products = pd.DataFrame(products_data)
df_products.to_excel('products.xlsx', index=False, engine='openpyxl')
print("âœ“ products.xlsx created successfully!\n")

print("="*60)
print("\nðŸ“– READING THE FILES\n")
print("="*60)


print("\n1. Reading 'students.csv':")
print("-" * 60)
df_csv = pd.read_csv('students.csv')
print(df_csv)
print(f"\nShape: {df_csv.shape}")
print(f"Columns: {list(df_csv.columns)}")

print("\n\n2. Reading 'products.xlsx':")
print("-" * 60)
df_excel = pd.read_excel('products.xlsx', engine='openpyxl')
print(df_excel)
print(f"\nShape: {df_excel.shape}")
print(f"Columns: {list(df_excel.columns)}")

print("\n" + "="*60)
print("ðŸ“Š ADDITIONAL INFORMATION")
print("="*60)

print("\nStudents Data Info:")
print(df_csv.info())

print("\n\nProducts Data Statistics:")
print(df_excel.describe())

print("\n\nâœ… Both files read successfully!")

Creating students.csv file...
âœ“ students.csv created successfully!

Creating products.xlsx file...
âœ“ products.xlsx created successfully!

============================================================

ðŸ“– READING THE FILES

============================================================

1. Reading 'students.csv':
------------------------------------------------------------
   Student_ID    Name  Age  Marks Grade
0         101   Rahul   20     85     B
1         102   Priya   19     92     A
2         103    Amit   21     78     C
3         104   Sneha   20     88     B
4         105  Vikram   22     95     A

Shape: (5, 5)
Columns: ['Student_ID', 'Name', 'Age', 'Marks', 'Grade']


2. Reading 'products.xlsx':
------------------------------------------------------------
   Product_ID Product_Name  Price  Stock     Category
0           1       Laptop  45000     25  Electronics
1           2        Mouse    500    150  Accessories
2           3     Keyboard   1500     80  Accessories
3           4      Monitor  12000     40  Electronics
4           5   Headphones   2500    100  Accessories

Shape: (5, 5)
Columns: ['Product_ID', 'Product_Name', 'Price', 'Stock', 'Category']

============================================================
ðŸ“Š ADDITIONAL INFORMATION
============================================================

Students Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  5 non-null      int64
 1   Name        5 non-null      object
 2   Age         5 non-null      int64
 3   Marks       5 non-null      int64
 4   Grade       5 non-null      object
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None


Products Data Statistics:
       Product_ID         Price       Stock
count    5.000000      5.000000    5.000000
mean     3.000000  12300.000000   79.000000
std      1.581139  18850.066313   49.799598
min      1.000000    500.000000   25.000000
25%      2.000000   1500.000000   40.000000
50%      3.000000   2500.000000   80.000000
75%      4.000000  12000.000000  100.000000
max      5.000000  45000.000000  150.000000


âœ… Both files read successfully!