In [ ]:
shopping=["egges","bread","milk",]
shopping.append("rice")
print(shopping)



item=["pen","book","pencile",]
item.extend(shopping)
print(item)

['egges', 'bread', 'milk', 'rice']
['pen', 'book', 'pencile', 'egges', 'bread', 'milk', 'rice']

In [ ]:
fruit=["apple","banana","mango"]
fruit.insert(1,"cherry")
print(fruit)

['apple', 'cherry', 'banana', 'mango']

In [ ]:
num=[10,20,30,40,50,60]
num.pop()
print(num)

before pop(1): [10, 20, 30, 40, 50]

In [ ]:
num=[10,20,30,40,50,60]
num.remove(20)
print(num)

[10, 30, 40, 50, 60]

In [ ]:
dig=[3,1,4,1,5]
del dig[2]
print(dig)

[3, 1, 1, 5]

In [ ]:
a=[1,2,3,4,5,6]
b=a[2:3]
print(b)

[3]

In [ ]:
a=[1,2,3,4,]
b=[5,6,7]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
alp=["a","b","c","d"]
alp.remove("c")
print(alp)
alp.insert(3,"x")
print(alp)

['a', 'b', 'd']
['a', 'b', 'd', 'x']

In [ ]:
b=['a','c','b','e','f']
a=b[:]
a.sort()
print(a)
print(b)

['a', 'b', 'c', 'e', 'f']
['a', 'c', 'b', 'e', 'f']

In [ ]:
"tupple"

In [ ]:
pt=(3,4)
print(pt)

t=(2)
print(t)

(3, 4)
2

In [ ]:
#tuple convert list

t=(1,2,3)
new_t=list(t)
new_t.remove(2)
new_t.insert(1,99)
new_t=tuple(new_t)
print(new_t)

TypeError: 'list' object is not callable

In [1]:
#create tuple
t=(1,2,3)
b=list(t)
b.remove(2)
b.insert(1,100)
print(b)

[1, 100, 3]

In [ ]:
t=(1,2,3)
single=(5,)
mixed

In [ ]:
#tuple unpacking
record=("alice",27,"data analyst")
name,age,role= record
print("name:",name,"age:"," |role:",role)
a, mid,z=(1,2,3,4,5)
print("a:",a:"|mid:",

In [2]:
#tuple opreation and method
t=("nikhil","aman")
print("sum",sum(t))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
#type casting with tuple
t=[1,2,3]
b=tuple(t)

In [8]:
t=[10,20,30]
t_update=t[:1]+(99,)+t[2:]
print(t_update)

TypeError: can only concatenate list (not "tuple") to list

In [10]:
#zipp
months =["janurary","febuarey","march"]
savings=[100,200,300]
b_tuple=list(zip(months,savings))
print(b_tuple)

[('janurary', 100), ('febuarey', 200), ('march', 300)]

In [11]:
#unzipp
pairs=[('janurary', 100), ('febuarey', 200), ('march', 300)]

months,savings=zip(*pairs)
print(months)
print(savings)

('janurary', 'febuarey', 'march')
(100, 200, 300)

In [26]:
d={"name":["aman","ritik","roshan"],"marks":[20,50,80],"age":[27, 25, 23]}

print(d["marks"])

[20, 50, 80]

In [ ]:
dis={"address":["rewa","satna"]}
x

In [27]:
student={"name": "nikhil","age":21,"course":"data science"}
student["age"]=22
student["phone number"]=123654789655
student["address"]="delhi"
print(student)

{'name': 'nikhil', 'age': 22, 'course': 'data science', 'phone number': 123654789655, 'address': 'delhi'}

In [28]:
student.pop("marks")
del student["course"]
student.clear()
print(student)

KeyError: 'marks'

In [30]:
student={"name":"nikhil","age":21,"course": "data science"}
for k,v in student.items():
  print(k, ":", v)

name : nikhil
age : 21
course : data science